<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<body>
	<nav th:replace="~{fragments/nav}" />
	<section>
		<div class="container">
			<h3>Gestión Alta de Autores</h3>
			<form action="#" th:action="@{/author/add}" th:object="${autor}" method="post">
				<input th:field="*{nombre}" type="text" placeholder="Nombre del autor" class="form-control mb-4 col-4"
					required>
				<input th:field="*{nacionalidad}" type="text" placeholder="Nacionalidad del autor" required
					class="form-control mb-4 col-4">
				<input th:field="*{fechaNacimiento}" type="date"
					 class="form-control mb-4 col-4"required>
				<button type="submit" class="btn btn-info col-2">Guardar autor</button>
			</form>
			<hr>
			<a th:href="@{/author/list}">Volver</a>
		</div>
	</section>
	<footer th:replace="~{fragments/footer}" />
</body>

</html>