<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<body>
	<nav th:replace="~{fragments/nav}" />
	<section>
		<div class="container">
			<h3>Listado de autores</h3>
			<a class="btn btn-primary btn-sm mb-3" th:href="@{/author/add}" sec:authorize="hasRole('ADMIN')">
				Agregar un autor
			</a>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=titulo&sortOrder=' + ${reverseSortDir}}">Autor</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=tipo&sortOrder=' + ${reverseSortDir}}">Nacionalidad</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=autor.nombre&sortOrder=' + ${reverseSortDir}}">Fecha de nacimiento</a>
						</th>
						<th>Acciones
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="autor:${autores}">
						<td th:text="${autor.nombre}"></td>
						<td th:text="${autor.nacionalidad}"></td>
						<td th:text="${autor.fechaNacimiento}"></td>
						<td>
							<a th:href="@{'/author/' + ${autor.id} + '/update'}" class="btn btn-primary">Editar</a>
							<a th:href="@{'/author/' + ${autor.id} + '/delete'}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination" />
		</div>
		</div>
	</section>
</body>

</html>