<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<body>
	<nav th:replace="~{fragments/nav}" />
	<h3>Listado de libros</h3>
	<a class="btn btn-primary btn-sm mb-3" th:href="@{/book/add}" sec:authorize="hasRole('ADMIN')">
		Agregar un libro
	</a>
	<section>
		<div class="container">
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=titulo&sortOrder=' + ${reverseSortDir}}">Título</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=tipo&sortOrder=' + ${reverseSortDir}}">Tipo</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=autor.nombre&sortOrder=' + ${reverseSortDir}}">Autor</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=editorial&sortOrder=' + ${reverseSortDir}}">Editorial</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=anyo&sortOrder=' + ${reverseSortDir}}">Año</a>
						</th>
						<th>Copias
						</th>
						<th>Acciones
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="book:${books}">
						<td th:text="${book.titulo}"></td>
						<td th:text="${book.tipo}"></td>
						<td th:text="${book.autor.nombre}"></td>
						<td th:text="${book.editorial}"></td>
						<td th:text="${book.anyo}"></td>
							<div sec:authorize="hasRole('ADMIN')" >
								<td th:text="${book.ncopias}">
							</div>
							<div sec:authorize="hasRole('LECTOR')" >
								<td th:text="${book.ncopiasDisponibles}">
							</div>
						</td>
						<td>
							<div sec:authorize="hasRole('ADMIN')">
								<a th:href="@{'/book/' + ${book.id} + '/update'}" class="btn btn-primary">Editar</a>
								<a th:href="@{'/book/' + ${book.id} + '/list'}" class="btn btn-info">Gestionar
									copias</a>
								<a th:href="@{'/delete/' + ${book.id}}" class="btn btn-danger">Eliminar</a>
							</div>
							<div sec:authorize="hasRole('LECTOR')" th:if="${book.ncopiasDisponibles} > 0 and !${maxPrestamos}">
								<a th:href="@{'/book/' + ${book.id} + '/lease'}" class="btn btn-primary">Solicitar</a>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!--Botonera para moverme en las páginas-->
			<div th:replace="fragments/pagination" />
		</div>
		</div>
	</section>
	<footer th:replace="~{fragments/footer}" />
</body>

</html>