<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/head}" />
<body>
	<nav th:replace="~{fragments/nav}" />
	<div class="container">
		<form class="form-horizontal" method="post" action="/login">
		<h2>Inicio de sesión</h2>
			<div class="form-group">
				<label class="control-label col-sm-2" for="username">Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" name="username" maxlength="70" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password" name="password" maxlength="70" required/>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Acceder</button>
				</div>
			</div>
<!--			<input type="hidden" th:name="${_csrf.parameterName}"-->
<!--				th:value="${_csrf.token}" />-->
		</form>
	</div>
	<footer th:replace="~{fragments/footer}" />
</body>
</html>