<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<h3>Gestión Alta de Libros</h3>
<form action="#" th:action="@{/save}" th:object="${libro}" method="post">
	<input th:field="*{titulo}" type="text" placeholder="Título del libro" class="form-control mb-4 col-4">
<!-- Autor? -->
	<input th:field="*{autor}" type="number" placeholder="Autor" class="form-control mb-4 col-1">
	<input th:field="*{tipo}" type="text" placeholder="Tipo de libro" class="form-control mb-4 col-4">
	<input th:field="*{editorial}" type="text" placeholder="Editorial del libro" class="form-control mb-4 col-4">
	<input th:field="*{anyo}" type="number" placeholder="Año" class="form-control mb-4 col-1">
	<button type="submit" class="btn btn-info col-2">Guardar libro</button>
</form>
<hr>
<a th:href="@{/}">Volver</a>
</body>
</html>