<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}" />

<body>
	<nav th:replace="~{fragments/nav}" />
	<h3>Gestión de copias</h3>
	<form action="#" th:action="@{'/book/' + ${idlibro} + '/add_copies'}" th:object="${idlibro}" method="post" sec:authorize="hasRole('ADMIN')">
		<input name="numCopias" type="number" placeholder="Cantidad" class="form-control mb-4 col-1">
		<button type="submit" class="btn btn-info col-2">Añadir copias</button>
	</form>
	<section>
		<div class="container">
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=titulo&sortOrder=' + ${reverseSortDir}}">Título</a>
						</th>						
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=autor.nombre&sortOrder=' + ${reverseSortDir}}">ID copia</a>
						</th>
						<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=editorial&sortOrder=' + ${reverseSortDir}}">Estado</a>
						</th>
						<th>Acciones
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="copy:${copies}">
						<td th:text="${copy.libro.titulo}"></td>
						<td th:text="${copy.id}"></td>
						<td th:text="${copy.estado}"></td>
						<td>
							<a th:href="@{'/copy/' + ${copy.id} + '/update'}" class="btn btn-primary">Editar</a>
							<a th:href="@{'/copy/' + ${copy.id} + '/delete'}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</section>
	<a th:href="@{'/book/list'}">Volver</a>
	<footer th:replace="~{fragments/footer}" />
</body>

</html>